<div id="home" class="site-wrapper">
    <div class="before"></div>
    <!-- Navigation -->
    <div id="navigation" class="navbar masthead clearfix top">
        <div class="inner">
            <a href="#home">
                <h3 class="masthead-brand">
                    <img height="40" src="/img/logos/vovtech-logo-white.svg"></img>   
                    {{ site.title }}
                </h3>
            </a>
            <nav>
              <ul class="nav masthead-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#products">Products</a></li>
                <li><a href="#" data-toggle="modal" data-target="#basicModal">Contact Us</a></li>
              </ul>
            </nav>
        </div>
    </div>
    <div id="home-content" class="site-wrapper-inner">
        <div id="home-text-wrapper">
            <div id="home-text">
                <h1 id="cover-heading" class="cover-heading">{{ site.tagline }}</h1>
                <p id="opener" class="lead">{{ site.description }}</p>
                <p class="lead">
                    <a class="btn btn-lg btn-default" style="background-color: rgb(47, 114, 133);" href="#" data-toggle="modal" data-target="#basicModal">Get started</a>
                </p>            
            </div>
        </div>
    </div>
</div>


<!-- Marketing Quote -->
<div class="container row featurette quote-row">
    <div class="col-md-7">
        <blockquote>
            <p class="lead">The debug board has been extremely popular with the MediaSmart Server community, and VOV Technology has earned countless positive reviews from happy customers.</p>
            <h2 class="featurette-heading">Alex Kuretz<br><span class="text-muted">Founder of mediasmartserver.net, Microsoft MVP</span></h2>
        </blockquote>
    </div>
</div>



<div class="container marketing" id="about">
    <div class="row">
        <h2>Why <span class="company-name">VOV Technology</span>?</h2>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div id="dream" class="backgroundcircle"></div>
            <h2>Dream</h2>
            <p>Have an online community that likes to think big?  Let us build the hardware.  We can help your community by alleviating the design, manufacturing, assembly and distribution of your idea, keeping 
            your community focused on more important things.</p>
        </div>

        <div class="col-lg-4">
            <div id="build" class="backgroundcircle"></div>
            <h2>Build</h2>
            <p>Have an idea but not sure how to build it?  We specialize on low-volume high-mix production.  Let us 
            handle building the board to make you and your community successful.</p>
        </div>

        <div class="col-lg-4">
            <div id="share" class="backgroundcircle"></div>
            <h2>Share</h2>
            <p>Need to share your ideas with the world?  We love open-source designs and can work with you in getting
            your idea off the ground.</p>
        </div>
    </div><!-- /.row -->
</div><!-- /.container -->


<!-- Marketing Quote -->
<div class="container row featurette quote-row">
    <div class="col-md-7">
        <blockquote>
            <p class="lead"> The debug board, like its predecessors, is very professionally built; it looks great.</p>
            <h2 class="featurette-heading">Matt Sawyer<br><span class="text-muted">Dojo North Software, CEO</span></h2>
        </blockquote>
    </div>
</div>

<!-- ---------------------------------------------------------------------- -->
<!-- Eagle Development Board on armstrap.org -->
<!-- ---------------------------------------------------------------------- -->
<div class="container" id="products">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Debug Adapter for the HP MediaSmart Server</h2>
                    On its 4th generation, the debug adapter, found on the 
                    <a href="http://www.mediasmartserver.net/forums/viewtopic.php?f=6&amp;t=14074">mediasmartserver.net</a>
                    community website, attaches to the HP MediaSmart Server or the Acer 
                    easyStore computer, giving users VGA, PS2 keyboard, PS2 mouse and serial access
                    for troubleshooting or re-imaging purposes.
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/img/vov_mssdebug.jpg" alt="">
                </div>
<!--
 512 - https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HM3E6DWVQFBXU
1024 - https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KPNFWQ59JUFZ2
2048 - https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4ASJQXA39DH4G
-->
            </div>
        </div>
    </div>

<!-- ---------------------------------------------------------------------- -->
<!-- Debug Adapter for the HP Mediasmart Server -->
<!-- ---------------------------------------------------------------------- -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Armstrap Eagle Development Board</h2>
                    This powerful ARM Cortex M-4 development board, found on the
                    <a href="http://armstrap.org/eagle">armstrap.org</a>
                    community website, is the first true open source development board that 
                    utilizes an onboard JTAG debugger for flashing and debugging your code, 
                    standard RTC clock with backup battery, and SPI flash, helping anyone
                    bootstrap any project, without the fear of running into mass-production
                    problems.
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                    <img class="img-responsive" src="/img/armstrap_eagle.jpg" alt="">
                </div>
<!--
PS2    - https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=D282G8JKRYADY
Serial - https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5743BDUY426KE
Cable  - https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KZPPUJRAFPH36
-->
            </div>
        </div>
    </div>
</div>
<!-- ----------------------------------------------------------------------- -->

<!-- Marketing Quote -->
<div class="container row featurette quote-row">
    <div class="col-md-7">
        <blockquote>
            <p class="lead" id="test3">[The Armstrap Eagle] is a breath of fresh air in an embedded development environment that's weighed down with all sorts of cruft.</p>
            <h2 class="featurette-heading">David Clift-Reaves<br><span class="text-muted">Supermechanical, Engineering</span></h2>
        </blockquote>
    </div>
</div>


<div class="container featurette" id="oursponsors">
    <h2 id="sponsortitle">Proudly Partenering With</h2>
    <div id="sponsorholder" class="row">
        <div id="sponsorinner">

            <div class="col-lg-4">
                <a class="slink" href="http://armstrap.org">
                    <h3 class="sponsor">
                        <img height="40" src="/img/partners/armstrap-logo.png"></img>
                    </h3>
                </a>
            </div>

            <div class="col-lg-4">
                <a class="slink" href="http://www.mediasmartserver.net">
                    <h3 class="sponsor">
                        <img height="40" src="/img/partners/mediasmartserver-logo.png"></img>
                    </h3>
                </a>
            </div>

            <div class="col-lg-4">
                <a class="slink" href="http://www.ni.com">
                    <h3 class="sponsor">
                        <img height="40" src="/img/partners/ni-logo.jpg"></img>
                    </h3>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">We would love to hear from you!</h4>
            </div>

            <div style="background-color: rgb(67, 134, 153);" class="modal-body">
            Each community is different, each board if different.  To find out if we are a good match for your community, contact sales@vovtech.com.
            </div>

            <div class="modal-footer">
                <button style="background-color: rgb(47, 114, 133);" type="button" class="btn btn-default" data-dismiss="modal">Done</button>
            </div>

        </div> <!-- modal-content -->
    </div> <!-- modal-dialog -->
</div> <!-- modal-fade -->


